In [1]:
# Импорт модулей pandas, numpy
import pandas as pd
import numpy as np

In [ ]:
# Создание списков для столбцов Dataframe
name = ['Иванов', 'Петров', 'Сидоров', 'Бякин', 'Чайка']
prof = ['Электрик', 'Бурильщик', 'Оператор', 'Водитель', 'Диспетчер']
age = [1990, 1965, 1998, 2000, 1968]

In [7]:
# Создание списков для столбцов Dataframe
name = ['Иванов', 'Петров', 'Сидоров', 'Бякин', 'Чайка']
prof = ['Электрик', 'Бурильщик', 'Оператор', 'Водитель', 'Диспетчер']
age = [1990, 1965, 1998, 2000, 1968]
# Словарь
prof_year = {'Фамилия': name,
            'Специальность': prof,
            'Год_рождения': age}
prof_year

{'Фамилия': ['Иванов', 'Петров', 'Сидоров', 'Бякин', 'Чайка'],
 'Специальность': ['Электрик',
  'Бурильщик',
  'Оператор',
  'Водитель',
  'Диспетчер'],
 'Год_рождения': [1990, 1965, 1998, 2000, 1968]}

In [8]:
# Создание списков для столбцов Dataframe
name = ['Иванов', 'Петров', 'Сидоров', 'Бякин', 'Чайка']
prof = ['Электрик', 'Бурильщик', 'Оператор', 'Водитель', 'Диспетчер']
age = [1990, 1965, 1998, 2000, 1968]
# Словарь
prof_year = {'Фамилия': name,
            'Специальность': prof,
            'Год_рождения': age}
# создание Dataframe
List_1 = pd.DataFrame(prof_year)
List_1

   Фамилия Специальность  Год_рождения
0   Иванов      Электрик          1990
1   Петров     Бурильщик          1965
2  Сидоров      Оператор          1998
3    Бякин      Водитель          2000
4    Чайка     Диспетчер          1968

In [9]:
# Нумерация
List_1.index

RangeIndex(start=0, stop=5, step=1)

In [19]:
# Создание списков для столбцов Dataframe
name = ['Иванов', 'Петров', 'Сидоров', 'Бякин', 'Чайка']
prof = ['Электрик', 'Бурильщик', 'Оператор', 'Водитель', 'Диспетчер']
age = [1990, 1965, 1998, 2000, 1968]
# Словарь
prof_year = {'Фамилия': name,
            'Специальность': prof,
            'Год_рождения': age}
# создание Dataframe
List_1 = pd.DataFrame(prof_year)
# Своя нумерация
List_1.index = ['1', '2', '3', '4', '5']
List_1

   Фамилия Специальность  Год_рождения
1   Иванов      Электрик          1990
2   Петров     Бурильщик          1965
3  Сидоров      Оператор          1998
4    Бякин      Водитель          2000
5    Чайка     Диспетчер          1968

In [20]:
# Изменение типа индекса
List_1.index

Index(['1', '2', '3', '4', '5'], dtype='object')

In [22]:
# Запись в CSV (классический: данные разделены запятыми)
List_1.to_csv('Данные.csv',
            index=False)